In [54]:
import numpy as np
import pandas as pd
import os
from pathlib import Path
from tqdm import tqdm

In [44]:
current_path = Path.cwd()

# Get the parent directory
parent_path = current_path
data_paths = parent_path / 'datas'  

print(data_paths)
#
train_path = data_paths / 'train.csv'
test_path = data_paths / 'test.csv'

train_path_ts = data_paths / 'series_train.parquet'
test_path_ts = data_paths / 'series_test.parquet'

/Users/nayelbenabdesadok/GitProjects/CMI_problematic_internet_use/datas

In [49]:
from concurrent.futures import ThreadPoolExecutor

def process_file(filename, dirname):
    df = pd.read_parquet(os.path.join(dirname, filename, 'part-0.parquet'))
    df.drop('step', axis=1, inplace=True)
    return df.describe().values.reshape(-1), filename.split('=')[1]

def load_time_series(dirname) -> pd.DataFrame:
    ids = os.listdir(dirname)
    
    with ThreadPoolExecutor() as executor:
        results = list(tqdm(executor.map(lambda fname: process_file(fname, dirname), ids), total=len(ids)))
    
    stats, indexes = zip(*results)
    
    df = pd.DataFrame(stats, columns=[f"stat_{i}" for i in range(len(stats[0]))])
    df['id'] = indexes
    
    return df

In [50]:
train_ts = load_time_series(train_path_ts)
test_ts = load_time_series(test_path_ts)

100%|██████████| 996/996 [00:57<00:00, 17.20it/s]
100%|██████████| 2/2 [00:00<00:00,  9.97it/s]

In [53]:
np.shape(train_ts)

(996, 97)

In [26]:
train=pd.read_csv(train_path)
test=pd.read_csv(test_path)
dictionnary=pd.read_csv('/Users/nayelbenabdesadok/GitProjects/CMI_problematic_internet_use/datas/data_dictionary.csv')
sample=pd.read_csv('/Users/nayelbenabdesadok/GitProjects/CMI_problematic_internet_use/datas/sample_submission.csv')

In [55]:
dictionnary['Instrument'].all

<bound method Series.all of 0                             Identifier
1                           Demographics
2                           Demographics
3                           Demographics
4     Children's Global Assessment Scale
                     ...
76               Sleep Disturbance Scale
77               Sleep Disturbance Scale
78               Sleep Disturbance Scale
79                          Internet Use
80                          Internet Use
Name: Instrument, Length: 81, dtype: object>

In [29]:
df = pd.read_parquet('/Users/nayelbenabdesadok/GitProjects/CMI_problematic_internet_use/datas/series_train.parquet/id=93c06d4c/part-0.parquet')

In [31]:
df.head()

,step,X,Y,Z,enmo,anglez,non-wear_flag,light,battery_voltage,time_of_day,weekday,quarter,relative_date_PCIAT
0,0,0.755956,-0.064450,-0.641633,0.038805,-39.163845,0.0,10.000000,4182.000000,45240000000000,2,4,21.0
1,1,0.377183,0.524232,-0.081910,0.126356,-3.364063,0.0,4.000000,4181.666504,45245000000000,2,4,21.0
2,2,0.243445,0.589751,0.538799,0.069743,38.590385,0.0,9.000000,4181.333496,45250000000000,2,4,21.0
3,3,0.885580,0.225155,-0.199520,0.063883,-12.149102,0.0,14.000000,4181.000000,45255000000000,2,4,21.0
4,4,0.184744,0.071157,-0.090001,0.160263,-3.711064,0.0,5.333333,4180.666504,45260000000000,2,4,21.0